@media screen and (max-width: 480px){
    
    
    .body__header h1{
        font-size: 45px;
    }
    .header__background{
        font-size: 100px;
    }

    .main__about-me h2{
        font-size: 32px;
    }
  
    .text__content{
        margin-left: 0%;
    }
    .text__bottom{
        display: block;
    }
    



    .main__skills h1{
        font-size: 45px;
    }
 

    .skills__top-skills{
        display: grid; 
    }
    .skills__top-skills span{
        margin: 10px;
    }
    .skills__bottom-skills{
        flex-wrap: wrap;
    }
    .skills__bottom-skills span{
        margin: 10px;
    }


    .main__portfolio h1{
        font-size: 45px;
    }

    .li__details{
        font-size: 12px;
    }
    .carousel__button-right{
        margin-top: 30%;
    }
    .carousel__button-left{
        margin-top: 30%;
    }
    .footer__contact h1{
        font-size: 45px;
    }
  
    
}

@media screen and (max-width: 570px){
    .navigation__about-me{
        transition: 0.5s;
        display: none;
    }
    .menu__about-me{
        display: block;
    }
    .li__details{
        font-size: 12px;
    }
    .carousel__button-right{
        margin-top: 20%;
    }
    .carousel__button-left{
        margin-top: 20%;
    }

}


@media screen and (max-width: 750px) {
    .navigation__skills{
        transition: 0.5s;
        display: none;
    }
    .menu__skills{
        display: block;
    }
    .body__header h1{
        font-size: 45px;
    }
    .carousel__button-right{
        margin-top: 15%;
    }
    .carousel__button-left{
        margin-top: 15%;
    }
}


@media screen and (max-width: 990px) {
    .navigation__portfolio{
        transition: 0.5s;
        display: none;
    }
    .menu__portfolio{
        display: block;
    }
    .body__header h1{
        font-size: 70px;
        margin-right: 128px;
    }
    .main__about-me{
        flex-wrap: wrap-reverse;
    }
    .text__content{
        margin-left: 9.37%;
    }
    .about-me__background{
        margin: 0 auto;
    }
    .carousel__button-right{
        margin-top: 10%;
    }
    .carousel__button-left{
        margin-top: 10%;
    }
}





@media screen and (max-width: 1218px) {
    .navigation__contact{
        transition: 0.5s;
        display: none;
    }
    .menu__contact-me{
        display: block;
    }
    .button__menu{
        opacity: 1;
        transition: 0.5s;
    }
    .menu li a{
        font-size: 30px;
    }

    .skills__top-skills{
        flex-wrap: wrap;
    }
    .skills__top-skills span{
        margin: 10px;
    }
    .skills__bottom-skills{
        flex-wrap: wrap;
    }
    .skills__bottom-skills span{
        margin: 10px;
    }
    .contact__link span{
        flex-wrap: wrap;
    }
    .carousel__button-right{
        margin-top: 10%;
    }
    .carousel__button-left{
        margin-top: 10%;
    }
}