body{
    box-sizing: content-box;
    font-family: 'Inter', sans-serif;
    background: #F1F4C6;
    margin-left: 128px;
  
    
}


body{
    position: relative;
}

.body__nav {
    display: flex;
    position: fixed;
    padding-left: 117px;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: transparent;
    
    transition: background-color 0.5s ease;
}
.body__nav--scroll{
    background-color: #f1f4c6be ;

}

.button__navigation{
    padding-top: 36px;   
}

.button__logo{
    padding-right: 202px;
}
.button__logo a img{
    margin-top: 15px;
    width: 80px;
    margin-bottom:5px ;
}



.button__navigation a {
    color: #837D7D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 24px;
    
}

.button__navigation a:hover{
    color: #C5BA8D;
    transition: 0.5s;
}

.body__header--off{
    display: none;
}

.body__header--on{
    opacity: 1;
    margin-bottom: 128px;
}

.header__background{
    
    box-sizing: content-box;
    transform: rotate(-24.486deg);
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    left: -3%;
    background-color: transparent;
    color: hsla(48, 33%, 66%, 0.15);
    position: fixed;


    font-family: Inter;
    font-size: 230px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

header h1{
    margin-top: 210px;
    margin-left: 128px;

    color: #C5BA8D;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
    
}

main{
    background-color:  #F1F4C6;
}

.main__about-me--off{
    display: none;
}

.main__about-me--on{
    margin-left: 128px;
    display: flex;
    justify-content: space-between;
}


.main__about-me--on h2{
    margin-top: 100px;
    text-transform: uppercase;

    color: #C5BA8D;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main__about-me--on hr{
    width: 223px;
    height: 16px;
    border: 0;
    background-color: hsla(48, 33%, 66%, 1);
    margin-left: 117px;
}
.about-me__background{
    width: 339px;
    height: 513px;
    margin-top: 143px;
    margin-right: 128px ;
    border: hsla(48, 33%, 66%, 1) 24px solid;
    border-radius: 5px;
    position: relative;
}

.photo__forground{
    position: absolute;
    border-radius: 5px;
    background: #837D7D;
    transform: translate( -15%,-9%);
    width: 344px;
    height: 511px;
}


.text__content{
    margin-top: 20px;
    margin-left: 117px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text__content p span{
    color: hsla(48, 33%, 66%, 1);
}

.text__bottom{
    display: flex;
    justify-content: space-between;
}

.text__education{
    margin-top: 26px;
}

.text__education h3{
    text-transform: capitalize;
    color: #C5BA8D;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__education p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text__country{
    margin-top: 26px;
}

.text__country h3{
    text-transform: capitalize;
    color: #C5BA8D;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__country p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.main__skills--off{
    display: none;
}

.main__skills--on{
    opacity: 1;
}

.main__skills--on h1{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: 129px;
    text-transform: uppercase;
}
.main__skills--on hr{
    width: 137px;
    height: 16px;
    margin-left: 232px;
    background-color: #C5BA8D;
    border: 0;
}

.skills__top-skills {
    display: flex;
    justify-content: center;
    margin-top: 31px;
}
.skills__top-skills span{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    background: #D9D9D9;
}
.top-skills__html{
    margin-right: 135px;
}
.top-skills__html img{
    width: 50%;
    margin-top: 40px; 
    margin-left: 40px;
}

.top-skills__html p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.top-skills__css{
    margin-right: 135px;
}

.top-skills__css img{
    width: 45%;
    margin-top: 40px; 
    margin-left: 45px;
}

.top-skills__css p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-skills__js img{
    width: 45%;
    margin-top: 41px; 
    margin-left: 41px;
}

.top-skills__js p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skills__bottom-skills{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.skills__bottom-skills span{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    background: #D9D9D9;
}

.bottom-skills__github{
    margin-right: 135px;
}
.bottom-skills__github p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom-skills__github img{
    width: 45%;
    margin-top: 41px; 
    margin-left: 45px;
}


.bottom-skills__php {
    margin-right: 135px;
}

.bottom-skills__php img{
    width: 70%;
    margin-top: 41px; 
    margin-left: 25px;
}
.bottom-skills__mysql img{
    width: 70%;
    margin-top: 41px; 
    margin-left: 25px;
}


.main__portfolio--off{
    display: none;
}

.main__portfolio--on h1{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: 128px;
    text-transform: uppercase;
}
.main__portfolio--on hr{
    width: 223px;
    height: 16px;
    background-color: #C5BA8D;
    border: 0;
    margin-left: 249px;
}
.main__portfolio--on ul{
    margin-bottom: 168px;
    margin-top: 40px;
    position: relative;
}

.main__portfolio--on ul img{
    object-fit: cover;
    width: 757px;
    height: 317px;
    display: block;
    margin: 0 auto;
}



.main__portfolio--on ul li a{
    text-decoration: none;
    z-index: 1;
    
}
.li__details{
     width: 757px;
    height: 317px;
    position: absolute;
    top: 0;
    right: 22%;
}
.li__details h3{
    margin-top: 5px;
    margin-left: 14px;
}

.li__details p{
    margin-left: 14px;
}
.li__details{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.li__details{
    opacity: 0;
}

.li__details:hover{
    opacity: 1;
    width: 757px;
    height: 317px;
    background-color: hsla(48, 33%, 66%, 0.5);
    transition: 0.25s;
}
.main__portfolio--on ul span{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.main__portfolio--on ul span input{
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background: #D9D9D9;
    border: 0;
}
.main__portfolio--on ul span input:hover{
    background-color: #C5BA8D;
    transition: 0.25s;
}

.footer__contact-me--off{
    opacity: 0;
}
.footer__contact-me--on{
    opacity: 1;
}

.footer__contact-me--on h1{
    margin-top: 100px;
    margin-left: 128px;
    text-transform: uppercase;
    color: #C5BA8D;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__contact-me--on hr{
    width: 343px;
    height: 16px;
    background: #C5BA8D;
    border: 0;
    margin-left: 249px;
}
.contact-me__content{
    display: flex;
    
    
    
}

.contact-me__link{
    width: 599px;
    height: 28px;
    margin-top: 144px;
    margin-bottom: 100px;
    margin-left: 128px;
}
.contact-me__link a img{
    width: 20px;
    margin-right: 5px;
}

.contact-me__link a{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    display: block;  
}

.contact-me__content form input{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 398px;
}

.form__email{
    width: 464px;
    height: 48px;
    border-radius: 5px;
    border: 0;
    background: #D9D9D9;
    margin-bottom: 45px;
    margin-top: 32px;
    padding-left: 15px;
}

.form__objet{
    width: 464px;
    height: 48px;
    background: #D9D9D9;
    border: 0;
    margin-bottom: 45px;
    padding-left: 15px;
}

.form__message{
    width: 464px;
    background: #D9D9D9;
    border: 0;
    margin-bottom: 30px;
    padding-top: 11px;
    padding-bottom: 125px;
    padding-left: 15px;
}