body{
    box-sizing: content-box;
    font-family: 'Inter', sans-serif;
    background: #F1F4C6;
    
}


body{
    position: relative;
}

/* nav-bar */

.body__nav {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease;
}
.body__nav--scroll{
    background-color: #f1f4c6be ;

}

.button__navigation{
    padding-top: 53px;
    width: 46.35%;
    margin-right: 5%;
}


.button__logo{
    display: block;
    width: 120px;
    margin-left: 8.5%;
    margin-right: 15%;
}


.button__logo a img{
    margin-top: 15px;
    width: 100%;
    margin-bottom:5px ;
    margin-right: 15.02%;
}

.button__menu{
    opacity: 0;
}

.button__menu{
    margin-top: 19px;
    margin-right: 9.48%;
}
.button__menu img{
    width: 69px;
    

}

.button__navigation a {
    color: #837D7D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 3%;
}

.button__navigation a:hover{
    color: #C5BA8D;
    transition: 0.5s;
}

.menu{
    display: none;
}

.menu__about-me{
    display: none;
}
.menu__skills{
    display: none;
}

.menu li{
    color: #837D7D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 3%;
}
.menu li:hover{
    color: #C5BA8D;
    transition: 0.5s;
}

/* header */



.body__header{
    margin-bottom: 215px;
    
}

.header__background{

    box-sizing: content-box;
    transform: rotate(-24.486deg);
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    left: -3%;
    background-color: transparent;
    color: hsla(48, 33%, 66%, 0.15);
    position: fixed;


    font-family: Inter;
    font-size: 230px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.body__header h1{
    margin-top: 210px;
    margin-left: 9.37%;

    color: #C5BA8D;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;

}

/* main */

main{
    background-color:  #F1F4C6;
}

/* about me */

.main__about-me{
    padding-top: 17px;
    margin-left: 9.37%;
    display: flex;
    justify-content: space-between;
}


.main__about-me h2{
    margin-top: 100px;
    text-transform: uppercase;

    color: #C5BA8D;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main__about-me hr{
    width: 64.72%;
    height: 16px;
    border: 0;
    background-color: hsla(48, 33%, 66%, 1);
    margin-left: 29.14%;
    border-radius: 5px;
}
.about-me__background{
    width: 322px;
    height: 400px;
    margin-top: 143px;
    margin-right: 10.46% ;
    border: hsla(48, 33%, 66%, 1) 24px solid;
    border-radius: 5px;
    position: relative;
}

.photo__forground{
    position: absolute;
    border-radius: 5px;
    background: #837D7D;
    transform: translate( -15%,-9%);
    width: 88.91%;
    height: 411px;
}

.photo__forground img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.text__content{
    margin-top: 20px;
    margin-left: 29.14%;
    width: 360px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text__content p span{
    color: hsla(48, 33%, 66%, 1);
}

.text__bottom{
    display: flex;
    justify-content: space-between;
}

.text__education{
    margin-top: 20px;
}

.text__education h3{
    text-transform: capitalize;
    color: #C5BA8D;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__education p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text__country{
    margin-top: 26px;
}

.text__country h3{
    text-transform: capitalize;
    color: #C5BA8D;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__country p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* skills */

.main__skills{
    padding-top: 11px;
}

.main__skills h1{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: 9.56%;
    text-transform: uppercase;
}
.main__skills hr{
    width: 10.15%;
    height: 16px;
    margin-left: 17.19%;
    background-color: #C5BA8D;
    border: 0;
    border-radius: 5px;
}

.skills__top-skills {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 63%;
    margin-top: 31px;
    
}
.skills__top-skills span{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: #D9D9D9;
}

.top-skills__html img{
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
}

.top-skills__html p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-skills__css img{
    width: 45%;
    margin-top: 35px;
    margin-left: 43px;
}

.top-skills__css p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-skills__js img{
    width: 45%;
    margin-top: 41px;
    margin-left: 27%;
    
}

.top-skills__js p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skills__bottom-skills{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 63%;
    margin-top: 31px;
}


.skills__bottom-skills span{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: #D9D9D9;
}


.bottom-skills__github p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom-skills__github img{
    width: 45%;
    margin-top: 41px;
    margin-left: 42px;
}




.bottom-skills__php img{
    width: 70%;
    margin-top: 41px;
    margin-left: 25px;
}
.bottom-skills__mysql img{
    width: 70%;
    margin-top: 41px;
    margin-left: 25px;
}



.main__portfolio{
    padding-top: 2%;
    padding-bottom: 12%;
}

.main__portfolio h1{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: 9.48%;
    text-transform: uppercase;
}
.main__portfolio hr{
    width: 16.53%;
    height: 16px;
    background-color: #C5BA8D;
    border: 0;
    margin-left: 18.45%;
    border-radius: 5px;
}
.main__portfolio ul{
    margin-bottom: 168px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}
.carousel__li{
    position: relative;
}

.carousel__li--off{
    display: none;
}
.carousel__li img{
    
    width: 100%;
    height: 317px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}



.carousel__li a{
    text-decoration: none;
    z-index: 1;

}
.li__details{
    width: 100%;
    height: 317px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.li__details h3{
    margin-top: 5px;
    margin-left: 14px;
}

.li__details p{
    margin-left: 14px;
}
.li__details{
    color: #000;;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.li__details{
    opacity: 0;
}

.li__details:hover{
    opacity: 1;
    background-color: hsl(47, 33%, 66%);
    transition: 0.25s;
    border-radius: 5px;
}


.carousel__button-left{
    rotate: 180deg;
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 80px;
    margin-top: 8%;
    margin-right: 1%;
}
.carousel__button-left:hover{
    background-color: #C5BA8D;
}
.carousel__button-left img{
    width: 75px;
  
    
}
.carousel__button-right{
  
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 80px;
    margin-top: 8%;
    margin-left: 1%;
}
.carousel__button-right img{
    width: 75px;
   
    
}

.carousel__button-right:hover{
    background-color: #C5BA8D;
}

/* footer */

.footer__contact{
    opacity: 1;
    background-color: #f1f4c6be;
    padding-bottom: 12%;

}

.footer__contact h1{
    padding-top: 100px;
    margin-left: 9.48%;
    text-transform: uppercase;
    color: #C5BA8D;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__contact hr{
    width: 16.60%;
    height: 16px;
    background: #C5BA8D;
    border: 0;
    margin-left: 18.45%;
    border-radius: 5px;
}


.contact__link{
    width: 59.48%;
    height: 28px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 9.48%;
}
.contact__link a img{
    width: 20px;
    margin-right: 5px;
}
.contact__link span{
    display:flex;
}
.contact__link span p{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-right: 10px;
}
.contact__link span a{
    color: #837D7D;
    text-decoration: none;
}
.contact__link span a:hover{
    color: #C5BA8D;
    transition: 0.5s;
}
.contact__link a{
    color: #C5BA8D;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}



